.formulaire-lang{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.liste-lang{
    margin-top: 25px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

